@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rancho&family=Sarina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Itim&family=Rancho&family=Sarina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Great+Vibes&family=Itim&family=Rancho&family=Sarina&display=swap");

.sarina-regular {                                  
  font-family: "Sarina", cursive;                
  font-weight: 400;
  font-style: normal;
}
.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

